<?xml version="1.0" encoding="UTF-8"?>
<quiqqer>
    <settings>

        <config>

            <section name="api">
                <conf name="merchant_id">
                    <type><![CDATA[string]]></type>
                </conf>
                <conf name="access_key">
                    <type><![CDATA[string]]></type>
                </conf>
                <conf name="secret_key">
                    <type><![CDATA[string]]></type>
                </conf>
                <conf name="client_id">
                    <type><![CDATA[string]]></type>
                </conf>
                <conf name="region">
                    <type><![CDATA[string]]></type>
                    <defaultvalue><![CDATA[de]]></defaultvalue>
                </conf>
                <conf name="sandbox">
                    <type><![CDATA[boolean]]></type>
                    <defaultvalue>1</defaultvalue>
                </conf>
                <conf name="use_ipn_handler">
                    <type><![CDATA[boolean]]></type>
                    <defaultvalue>0</defaultvalue>
                </conf>
            </section>

            <section name="payment">
                <conf name="article_type">
                    <type><![CDATA[string]]></type>
                    <defaultvalue><![CDATA[mixed]]></defaultvalue>
                </conf>
                <conf name="amazon_seller_note">
                    <type><![CDATA[string]]></type>
                </conf>
            </section>

            <section name="billing_agreements">
                <conf name="max_capture_tries">
                    <type><![CDATA[integer]]></type>
                    <defaultvalue>3</defaultvalue>
                </conf>
            </section>

            <section name="widgets">
                <conf name="btn_color">
                    <type><![CDATA[string]]></type>
                    <defaultvalue><![CDATA[Gold]]></defaultvalue>
                </conf>
                <conf name="btn_size">
                    <type><![CDATA[string]]></type>
                    <defaultvalue><![CDATA[x-large]]></defaultvalue>
                </conf>
            </section>

        </config>

        <window>
            <title>
                <locale group="quiqqer/payment-amazon" var="settings.menu.title"/>
            </title>

            <params>
                <icon>fa fa-amazon</icon>
            </params>

            <categories>
                <category name="api">
                    <icon>fa fa-cogs</icon>
                    <title>
                        <locale group="quiqqer/payment-amazon" var="settings.category.api.title"/>
                    </title>
                    <settings title="api" name="api">
                        <title>
                            <locale group="quiqqer/payment-amazon" var="settings.api.title"/>
                        </title>

                        <input conf="api.merchant_id" type="text">
                            <text>
                                <locale group="quiqqer/payment-amazon" var="settings.api.merchant_id.title"/>
                            </text>
                        </input>

                        <input conf="api.access_key" type="text">
                            <text>
                                <locale group="quiqqer/payment-amazon" var="settings.api.access_key.title"/>
                            </text>
                        </input>

                        <input conf="api.secret_key" type="text">
                            <text>
                                <locale group="quiqqer/payment-amazon" var="settings.api.secret_key.title"/>
                            </text>
                        </input>

                        <input conf="api.client_id" type="text">
                            <text>
                                <locale group="quiqqer/payment-amazon" var="settings.api.client_id.title"/>
                            </text>
                        </input>

                        <select conf="api.region">
                            <text>
                                <locale group="quiqqer/payment-amazon" var="settings.api.region.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/payment-amazon" var="settings.api.region.description"/>
                            </description>
                            <option value="de">
                                <locale group="quiqqer/payment-amazon" var="settings.api.region.options.de"/>
                            </option>
                            <option value="us">
                                <locale group="quiqqer/payment-amazon" var="settings.api.region.options.us"/>
                            </option>
                            <option value="jp">
                                <locale group="quiqqer/payment-amazon" var="settings.api.region.options.jp"/>
                            </option>
                        </select>

                        <input conf="api.use_ipn_handler" type="checkbox">
                            <text>
                                <locale group="quiqqer/payment-amazon" var="settings.api.use_ipn_handler.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/payment-amazon" var="settings.api.use_ipn_handler.description"/>
                            </description>
                        </input>

                        <input conf="api.sandbox" type="checkbox">
                            <text>
                                <locale group="quiqqer/payment-amazon" var="settings.api.sandbox.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/payment-amazon" var="settings.api.sandbox.description"/>
                            </description>
                        </input>

                    </settings>

                    <settings title="billing_agreements" name="billing_agreements">
                        <title>
                            <locale group="quiqqer/payment-amazon" var="settings.billing_agreements.title"/>
                        </title>

                        <input conf="billing_agreements.max_capture_tries" type="text">
                            <text>
                                <locale group="quiqqer/payment-amazon" var="settings.billing_agreements.max_capture_tries.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/payment-amazon" var="settings.billing_agreements.max_capture_tries.description"/>
                            </description>
                        </input>

                    </settings>
                </category>

                <category name="payment">
                    <icon>fa fa-credit-card</icon>
                    <title>
                        <locale group="quiqqer/payment-amazon" var="settings.category.payment.title"/>
                    </title>
                    <settings title="payment" name="payment">
                        <title>
                            <locale group="quiqqer/payment-amazon" var="settings.payment.title"/>
                        </title>

                        <input conf="payment.amazon_seller_note" type="text" data-qui="controls/lang/InputMultiLang">
                            <text>
                                <locale group="quiqqer/payment-amazon" var="settings.payment.amazon_seller_note.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/payment-amazon" var="settings.payment.amazon_seller_note.description"/>
                            </description>
                        </input>

                        <select conf="payment.article_type">
                            <text>
                                <locale group="quiqqer/payment-amazon" var="settings.payment.article_type.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/payment-amazon" var="settings.payment.article_type.description"/>
                            </description>
                            <option value="mixed">
                                <locale group="quiqqer/payment-amazon" var="settings.payment.article_type.options.mixed"/>
                            </option>
                            <option value="physical">
                                <locale group="quiqqer/payment-amazon" var="settings.payment.article_type.options.physical"/>
                            </option>
                            <option value="digital">
                                <locale group="quiqqer/payment-amazon" var="settings.payment.article_type.options.digital"/>
                            </option>
                        </select>

                    </settings>

                    <settings title="widgets" name="widgets">
                        <title>
                            <locale group="quiqqer/payment-amazon" var="settings.widgets.title"/>
                        </title>

                        <select conf="widgets.btn_color">
                            <text>
                                <locale group="quiqqer/payment-amazon" var="settings.widgets.btn_color.title"/>
                            </text>
                            <option value="Gold">
                                <locale group="quiqqer/payment-amazon" var="settings.widgets.btn_color.options.Gold"/>
                            </option>
                            <option value="LightGray">
                                <locale group="quiqqer/payment-amazon" var="settings.widgets.btn_color.options.LightGray"/>
                            </option>
                            <option value="DarkGray">
                                <locale group="quiqqer/payment-amazon" var="settings.widgets.btn_color.options.DarkGray"/>
                            </option>
                        </select>

                        <select conf="widgets.btn_size">
                            <text>
                                <locale group="quiqqer/payment-amazon" var="settings.widgets.btn_size.title"/>
                            </text>
                            <option value="small">
                                <locale group="quiqqer/payment-amazon" var="settings.widgets.btn_size.options.small"/>
                            </option>
                            <option value="medium">
                                <locale group="quiqqer/payment-amazon" var="settings.widgets.btn_size.options.medium"/>
                            </option>
                            <option value="large">
                                <locale group="quiqqer/payment-amazon" var="settings.widgets.btn_size.options.large"/>
                            </option>
                            <option value="x-large">
                                <locale group="quiqqer/payment-amazon" var="settings.widgets.btn_size.options.x_large"/>
                            </option>
                        </select>

                    </settings>
                </category>

                <category name="amazon_billing_agreements">
                    <icon>fa fa-amazon</icon>
                    <title>
                        <locale group="quiqqer/payment-amazon" var="settings.category.amazon_billing_agreements.title"/>
                    </title>

                    <settings name="amazon_billing_agreements" title="amazon_billing_agreements">
                        <title>
                            <locale group="quiqqer/payment-amazon" var="settings.category.amazon_billing_agreements.title"/>
                        </title>

                        <input type="hidden" data-qui="package/quiqqer/payment-amazon/bin/controls/backend/BillingAgreements" label="false">
                        </input>
                    </settings>

                </category>

            </categories>
        </window>

    </settings>
</quiqqer>