.quiqqer-payment-amazon-content {
    float: left;
    min-height: 450px;
    width: 100%;
}

#quiqqer-payment-amazon-btn {
    margin-top: 35px;
    text-align: center;
}

#quiqqer-payment-amazon-btn img {
    max-width: 100% !important;
}

#quiqqer-payment-amazon-wallet {
    margin: 35px auto 0 auto;
    min-width: 300px;
    max-width: 600px;
    min-height: 228px;
    height: 240px;
    max-height: 400px;
}

#quiqqer-payment-amazon-btn-pay {
    margin: 50px 0 0 0;
    text-align: right;
}

.quiqqer-payment-amazon__hidden {
    display: none !important;
}